# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties

# Cache and log files from Symfony2
/app/cache/*
/app/logs/*

# Recommendations to store a Syfmony2 project in git
# Have a look: http://symfony.com/doc/2.0/cookbook/workflow/new_project_git.html
/web/bundles/
/app/bootstrap*
/vendor/
/app/config/parameters.ini

# Composer
composer.phar
