/**
 * General css
 *
 */
body {
	background-color: #F7F4E6;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1,h2,table tr th,a {
	color: #646464;
}

#main .center {
	text-align: center;
}

#main .nowrap {
	white-space: nowrap;
}

/**
 * Headline and information text
 *
 */
#main .box div.information {
	float: right;
	width: 400px;
	margin-left: 25px;
}

#main .box div.information h1 {
	font-size: 25px;
	text-align: center;
}

#main .box div.information p {
	text-align: justify;
	padding-bottom: 15px;
}

#main .box div.information ul {
	margin: 0;
	margin-top: -15px;
}

/**
 * Flash messages
 *
 */
#main .flash-message {
	padding: 0.6em 0.6em 0.6em 3em;
	background-repeat: no-repeat;
	background-position: 0.5em 0.9em;
	border: 1px solid;
	color: #000000;
	width: 50%;
	margin: auto;
	margin-bottom: 15px;
}

#main .flash-message .message-header {
	font-weight: bold;
}

#main .message-success {
	background-image: url("/bundles/digitalkanbanbase/images/ok.png");
	background-color: #CDEACA;
	border-color: #58B548;
}

#main .message-error {
	background-image: url("/bundles/digitalkanbanbase/images/fail.png");
	background-color: #FBB19B;
	border-color: #DC4C42;
}

.message-information {
	background-image: url("/bundles/digitalkanbanbase/images/menu_info.png");
	background-color: #DDEEF9;
	border-color: #8AAFC4;
}

/**
 * Header
 *
 */
#container header {
	background-color: white;
	margin-bottom: 15px;
	-webkit-border-bottom-left-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/**
 * Logo
 *
 */
#container header div.logo {
	float: left;
	width: 280px;
	height: 52px;
	font-size: 35px;
}

#container header div.logo a {
	color: #000000;
	text-decoration: none;
}

/**
 * Navigation
 *
 */
#container header nav {
	display: block;
	color: #646464;
}

#container header nav ul li {
	list-style: none;
	float: left;
}

#container header nav ul li.chose-board {
	height: 32px;
	width: 115px;
	padding: 10px 10px 10px 10px;
}

#container header nav ul li.chose-board select {
	width: 115px;
}

#container header nav ul li a {
	display: block;
	text-decoration: none;
	color: #646464;
	height: 32px;
	width: 115px;
	padding: 10px 10px 10px 40px;
	background-repeat: no-repeat;
	background-position: 10px 13px;
}

#container header nav ul li a:hover,#container header nav ul li.chose-board:hover
	{
	background-color: #F7F4E6;
}

#container header nav ul li a small {
	display: block;
}

/**
 * Main content boxes
 *
 */
#main {
	margin-left: 15px;
	margin-right: 15px;
}

.box {
	padding: 10px;
	background-color: #FFFFFF;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 2px solid #DDDDDD;
	border-right: 2px solid #DDDDDD;
	-webkit-box-shadow: 5px 5px 5px #DDDDDD;
	-moz-box-shadow: 5px 5px 5px #DDDDDD;
	box-shadow: 5px 5px 5px #DDDDDD;
}

/**
 * Login form
 *
 */
#loginbox {
	width: 500px;
	margin: auto;
}

#loginbox  .information {
	text-align: center;
	width: auto !important;
	float: none !important;
}

#loginbox div.information p {
	text-align: center !important;
}

#loginbox .error {
	color: red;
	font-weight: bold;
	text-align: center;
	padding-bottom: 15px;
}

#loginbox form {
	width: 280px;
	margin: auto;
}

#loginbox form div {
	padding-bottom: 5px;
}

#loginbox form label {
	display: block;
	float: left;
	width: 100px;
}

#loginbox form input[type="submit"] {
	margin-top: 10px;
	width: 200px;
}

/**
 * About site
 *
 */
.box.about .project-links a {
	text-decoration: none;
	margin-right: 25px;
}

/**
 * Kanban Board
 *
 */
#main .edit-columns .board-columns {
	padding-top: 10px;
}

#main .board-columns ul.editable-column-board {
	margin: 0;
	padding: 0;
}

#main .board-columns div.column,#main .board-columns li.column {
	float: left;
	width: 250px;
}

#main .board-columns li.column {
	list-style-type: none;
	cursor: move;
	position: relative;
}

#main .board-columns li.column:hover {
	background-color: #E6E6E6;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#main .board-columns .column .limit {
	text-align: center;
}

#main .board-columns .column .issues .timeelapsed {
	color: #333;
	margin-top: 5px;
	font-size: 12px;
	border: 1px solid #ddd;
	background-color: #FFF56D;
	padding: 2px;
}

#main .board-columns .column .timeable {
	background-image: url(/bundles/digitalkanbanbase/images/time.png);
	background-repeat: no-repeat;
	background-position: 50px 0;
}

#main .board-columns .istimeable {
	background-color: #C9FFA8;
}

#main .board-columns .column .name {
	text-align: center;
	border-bottom: 1px solid #A4A4A4;
}

#main .board-columns .column .issues {
	border-right: 1px solid #A4A4A4;
}

#main .board-columns .column.last .issues {
	border-right: none;
}

#main .issues ul {
	padding: 15px 10px 0 10px;
	margin: 0;
	min-height: 400px;
}

#main .board-columns .column.draganddrop-ok,#main .board-columns .column.draganddrop-fail
	{
	background-repeat: no-repeat;
	background-position: 95% 5px;
}

#main .board-columns .column.draganddrop-ok {
	background-image: url(/bundles/digitalkanbanbase/images/ok.png);
}

#main .board-columns .column.draganddrop-fail {
	background-image: url(/bundles/digitalkanbanbase/images/fail.png);
}

div.board-header div.create-new-issue,div.board-header div.create-new-column
	{
	float: left;
	margin-bottom: 15px;
	width: 280px;
}

div.board-header div.create-new-issue a,div.board-header div.create-new-column a
	{
	text-decoration: none;
	margin-bottom: 10px;
	display: block;
}

#main .box div.board-header div.information {
	text-align: right;
	width: 800px;
}

div.board-header div.create-new-column h2 {
	margin-top: 0;
}

/**
 * Post it
 *
 */
div#new-issue,div#edit-issue,#main .issues ul li {
	list-style: none;
	background: #FEFABC;
	color: #000000;
	padding: 15px;
	margin-bottom: 15px;
	width: 200px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 15px;
	box-shadow: 0px 4px 6px #333;
	-moz-box-shadow: 0px 4px 6px #333;
	-webkit-box-shadow: 0px 4px 6px #333;
	cursor: move;
}

div#new-issue,div#edit-issue,div#new-column {
	cursor: auto;
	float: left;
	margin-top: 0;
	margin-right: 10px;
}

div#new-issue textarea,div#edit-issue textarea {
	background: #FEFABC;
	width: 195px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 15px;
	border: none;
}

div#edit-issue input {
	background: #FEFABC;
	width: 195px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 15px;
	border: none;
}

div#archive {
	background-color: #BDE1FC;
	padding-top: 40px;
	width: 120px;
	height: 55px;
	float: right;
	border: 1px dotted #9dc1dc;
	box-shadow: 0px 4px 6px #333;
	-moz-box-shadow: 0px 4px 6px #333;
	-webkit-box-shadow: 0px 4px 6px #333;
	text-align: center;
}

div#archive-btn {
	background-image: url(/bundles/digitalkanbanbase/images/archive.png);
	margin-top: -50px;
	margin-right: -10px;
	width: 22px;
	height: 22px;
	float: right;
}

div#new-column label {
	display: block;
	float: left;
	width: 70px;
}

div#new-column label,div#new-column input {
	margin-bottom: 10px;
}

#main .issues ul li.issue .group1 {
	color: #111;
	font-weight: bold;
	text-align: center;
	border: 1px solid #ccc;
}

#main .issues ul li.issue .group2 {
	margin-top: 2px;
	color: #111;
	font-weight: bold;
	text-decoration: underline;
}

#main .issues ul li.issue .group3 {
	margin-top: 2px;
	font-weight: bold;
	font-size: 0.90em;
	color: black;
	text-shadow: white 0.1em 0.1em 0.2em;
}

#main .issues ul li.issue .group0 {
	border-top: 1px solid #ccc;
	margin-top: 5px;
	padding-top: 5px;
}

#main .issues ul li.issue a.delete {
	position: absolute;
	right: -5px;
	top: -5px;
}

#main .board-columns ul li.column a.delete {
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 10;
}

/**
 * Drag and drop placeholder
 *
 */
#main li.issue-state-highlight,#main li.column-state-highlight {
	text-align: center;
	background: #E6E6E6 !important;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

#main li.column-state-highlight {
	float: left;
	list-style-type: none;
	width: 250px;
	min-height: 400px;
	color: #000000;
	padding: 15px 0 15px 0;
	margin-top: 15px;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 15px;
}

#main .issue-state-highlight:before,#main .column-state-highlight:before
	{
	content: "Drop it here";
}

/**
 * Issue rotation
 * -7 degree till +7 degree
 *
 */
#main .issues ul li.rotate-7 {
	-moz-transform: rotate(-7deg);
	-webkit-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
	-ms-transform: rotate(-7deg);
	transform: rotate(-7deg);
}

#main .issues ul li.rotate-6 {
	-moz-transform: rotate(-6deg);
	-webkit-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	-ms-transform: rotate(-6deg);
	transform: rotate(-6deg);
}

#main .issues ul li.rotate-5 {
	-moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

#main .issues ul li.rotate-4 {
	-moz-transform: rotate(-4deg);
	-webkit-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	transform: rotate(-4deg);
}

#main .issues ul li.rotate-3 {
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

#main .issues ul li.rotate-2 {
	-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

#main .issues ul li.rotate-1 {
	-moz-transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	transform: rotate(-1deg);
}

#main .issues ul li.rotate0 {
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

#main .issues ul li.rotate1 {
	-moz-transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	transform: rotate(1deg);
}

#main .issues ul li.rotate2 {
	-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
}

#main .issues ul li.rotate3 {
	-moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
}

#main .issues ul li.rotate4 {
	-moz-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	transform: rotate(4deg);
}

#main .issues ul li.rotate5 {
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
}

#main .issues ul li.rotate6 {
	-moz-transform: rotate(6deg);
	-webkit-transform: rotate(6deg);
	-o-transform: rotate(6deg);
	-ms-transform: rotate(6deg);
	transform: rotate(6deg);
}

#main .issues ul li.rotate7 {
	-moz-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	transform: rotate(7deg);
}

/**
 * User management / Board management
 *
 */
#main .management table {
	margin: auto;
	margin-bottom: 10px;
}

#main .management table tr th,#main .management table tr td {
	padding: 5px 15px 5px 5px;
	vertical-align: baseline;
}

#main .management table tr th {
	border-bottom: 1px solid #A4A4A4;
}

#main .management table tr td a {
	color: #000000;
}

#main .management table tr td.odd {
	background-color: #E6E6E6;
}

#main .management table tr td.even {
	background-color: #FFFFFF;
}

/**
 * User / Board form
 *
 */
#main .form div {
	padding: 5px;
}

#main .form div label {
	display: block;
	float: left;
	width: 150px;
}

#main .form form {
	width: 420px;
	margin: auto;
}

#main .form div input,#main .form div textarea {
	width: 250px;
}

#main .form div textarea {
	height: 150px;
}

#main .form div select {
	width: 256px;
}

#main .form form ul {
	margin: 0;
	padding-left: 150px;
	padding-top: 5px;
}

#main .form form div ul li {
	color: red;
	list-style-type: none;
}

#main .form div.submit {
	width: 400px;
	padding-top: 15px;
}

/**
 * About-Page
 *
 */
#main .box.about .project-links {
	text-align: center;
}

#main .box.about .project-links img {
	margin-bottom: 15px;
}

#main .box.about .project-links img.rounded {
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/**
 * Statistics page
 * Home screen
 *
 */
#main .statistics {
	float: left;
}

#main .statistics table {
	margin-bottom: 25px;
}

#main .statistics table th {
	border-bottom: 1px solid #000000;
}